@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Inter:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-bila: #ffffff;
  --color-svetle-modra: #00b3fa;
  --color-tmave-modra: #060d1f;
  --color-tmave-modra-2: #102761;
  --color-modra-low: rgba(7, 21, 56, 0.55);
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --spacing-home-button-h: 53px;
  --spacing-home-button-w: 175px;
  --spacing-home-follow-label: 150px;
  --spacing-home-profile-h: 393px;
  --spacing-home-profile-w: 404px;
}

/* Mobile overrides */
@media (max-width: 768px) {
  :root {
    --spacing-home-profile-h: 280px;
    --spacing-home-profile-w: 280px;
    --spacing-home-button-h: 45px;
    --spacing-home-button-w: 140px;
    --spacing-home-follow-label: 110px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
