@use "./globals.scss" as *;

// Mapa variant tlačítek
$button-variants: (
	"social": ($bila, $dark-blue, $light-blue, $bila),
	"primary": ($light-blue, $bila, $bila, $light-blue),
	"secondary": (transparent, $light-blue, $light-blue, $bila)
);

.text2 {
  font-family: $inter;
}

.buttons {
  &-bold {
    font-weight: bold;
    cursor: pointer;
  }
}

.home-root {
  background-color: $dark-blue;
}

.home-section {
  background-color: $dark-blue;
}

.home-accent {
  color: $light-blue;
}

// Generování variant tlačítek
@each $variant, $colors in $button-variants {
	.home-#{$variant}-button {
		@include hover-colors(nth($colors, 1), nth($colors, 2), nth($colors, 3), nth($colors, 4));
		font-weight: bold;
		cursor: pointer;

		@if $variant == "secondary" {
			border-color: $light-blue;
		}
	}
}

.home-profile-ring {
  border-color: $light-blue;
  background-color: $bila;
}
