@use "../../app/globals.scss" as *;

.header-root {
	background-color: $bila;
}

.header-logo-primary {
	color: $dark-blue;
}

.header-logo-secondary {
	color: $light-blue;
}

// Navbar links styling
.navbar-link {
	display: inline-block;
	color: $dark-blue;
	transition: color 0.3s ease;
	cursor: pointer;

	&:hover {
		color: $light-blue;
	}
}

.header-social-link {
	@include simple-hover($dark-blue, $light-blue);

	svg {
		width: 28px;
		height: 28px;
	}
}

.Tittle {
	&-1,
	&-2 {
		font-family: $poppins;
	}
}

/* Tablet Responsive Styles (medium screens) */
@media (min-width: 769px) and (max-width: 1024px) {
	.header-root > div {
		width: 85% !important;
	}

	.header-root > div > div {
		justify-content: space-between !important;
	}
}

/* MacBook/Medium Desktop Styles */
@media (min-width: 1025px) and (max-width: 1200px) {
	.header-root > div > div {
		gap: 8px !important;
	}

	.header-root > div > div > a {
		font-size: 1.25rem !important;
	}

	.header-root > div > div > a span {
		font-size: 1.25rem !important;
	}

	.header-root nav {
		gap: 32px !important;
	}

	.header-root nav a {
		font-size: 1.125rem !important;
	}

	.header-root > div > div > div:last-child {
		gap: 4px !important;
	}

	.header-root > div > div > div:last-child svg {
		width: 12px !important;
		height: 12px !important;
	}
}
