@use "../../app/globals.scss" as *;

// Generování hover stylů pro všechny navbar linky
$navbar-links: (
	"navbar-link",
	"navbar-mobile-link",
	"navbar-social-link"
);

@each $link in $navbar-links {
	.#{$link} {
		@include simple-hover($dark-blue, $light-blue);
	}
}

.navbar-menu-button {
	color: $dark-blue;
}

.navbar-mobile-menu {
	background-color: $bila;
}

.navbar-mobile-label {
	color: $dark-blue;
}

.Button {
	&-navigation {
		font-family: $poppins;
	}
}

.Mobile {
	&-navigation {
		font-family: $poppins;
	}
}
